.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 500px;
}
   
.info {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Wyśrodkowanie pionowe zawartości */
    align-items: center; /* Wyśrodkowanie poziome zawartości */
}

.description {
    min-width: 40ch;
    max-width: 800px;
  }