:root {
  --nav-bg-color: #eaeaea; /* Tło paska nawigacyjnego dla jasnego motywu */
  --nav-text-color: #000; /* Kolor tekstu dla jasnego motywu */

  --background-color: #fff;
  --btn-color: #0987f2;
  --btn-text-color: #fff;
  --project-card-bg: #ffffff00;
  --text-color: #222;
  --form-text-color: #555;
  --footer-text-color: #888;
  --profile-wrapper-bg-color: #f1f1f1; /* Jasne tło */

}

[data-theme='dark'] {
  --nav-bg-color: #333; /* Tło paska nawigacyjnego dla ciemnego motywu */
  --nav-text-color: #fff; /* Kolor tekstu dla ciemnego motywu */

  --background-color: #222;
  --btn-color: #fff;
  --btn-text-color: #222;
  --project-card-bg: #fff;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
  --profile-wrapper-bg-color: #333; /* Ciemniejsze tło */
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
}

#root {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h1, p {
  font-family: 'Lato', monospace;
  font-size: 32px;
}
 
h3 {
  font-family: 'Gloria Hallelujah', monospace;
  color: #f1594c;
  margin-bottom: 20px;
  margin-top: 50px;
}

h2,
h3 {
  font-size: 20px;
}

h2 {
  font-family: 'Gloria Hallelujah', monospace;
}

p {
  font-size: 16px;
  line-height: 1.8;
}

.sectionTitle {
  margin-bottom: 30px;
}

.hover {
  cursor: pointer;
}